body
{
    background-image: url(dead-end.gif);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;



}
#returnbutton
{
    text-align: center;
    margin-top: 600px;
    
    
}
#returnbutton>button
{
    background-color: greenyellow;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    color:magenta;
    font-weight: bolder;
    text-size-adjust:50px ;
    font-size: 30px;
}
#returnbutton>button:hover
{
    cursor: pointer;
    opacity: 0.5;
}

